QWidget {
    background-color: rgb(20, 20, 20);
    border-bottom: 1px solid rgb(50, 50, 50);
    padding: 8px;
}

QPushButton {
    width: 16px;
    height: 16px;
    background-color: none;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: none;
    padding: 8px;
}

QPushButton:hover {
    background-color: rgb(76, 76, 76);
}

QPushButton:pressed {
    background-color: rgb(125, 125, 125);
}